@model ThingsSales.Model.Auth.Register

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ThingsSales.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ThingsSales.Web.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="container_auth">
        <div class="row justify-content-center mx-auto">
            <div class="col-md-4 mx-auto">
                <div class="card mt-5">
                    <div class="card-body">
                        <h2 class="text-center">Registration</h2>
                        <form asp-action="Register" asp-controller="Auth" method="post" class="needs-validation" novalidate="true">
                            <div class="form-group">
                                <label asp-for="FirstName">First Name</label>
                                <input asp-for="FirstName" name="FirstName" class="form-control" required />
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="LastName">Last Name</label>
                                <input asp-for="LastName" name="LastName" class="form-control" required />
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Email">Email</label>
                                <input asp-for="Email" name="Email" class="form-control" required type="email" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="PhoneNumber">Phone Number</label>
                                <input asp-for="PhoneNumber" name="PhoneNumber" class="form-control" />
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="City">City</label>
                                <input asp-for="City" name="City" class="form-control" />
                                <span asp-validation-for="City" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Password">Password</label>
                                <input asp-for="Password" name="Password" class="form-control" required type="password" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>

                            <button type="submit" class="btn btn-primary mt-2">Registration</button>
                        </form>
                        <p class="text-center"><a class="fs-15" href="/Auth/Login">I have an account</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

